@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&family=Raleway:wght@300;500&family=Roboto:wght@300;500&display=swap');

:root{
    --menu-font-size: 14px;
    --primary-color:#13547a;
    --secondary-color:#80d0c7;
    --white-color:#ffffff;
    --section-bg-color: #f0f8ff;
}

body{
    font-family: 'Montserrat', sans-serif;
    background-color: #efefef;
}

a {
    text-decoration: underline;
    color: var(--secondary-color);
}

h2 {
    color: #3d4451!important;
    font-size: 38px!important;
    line-height: 1.2;
    font-weight: 500;
    text-align: center;
}

/*---------------------------------
---------- START NAVBAR -----------
---------------------------------*/
.bg-green{
    background-color: var(--secondary-color);
}

nav ul li a{
    text-transform: uppercase;
    font-size: var(--menu-font-size)!important;
}
/*---------------------------------
---------- END NAVBAR -----------
---------------------------------*/

.banner-image {
    background-image: url('../img/banner-img.jpg');
    background-size: cover;
    position: relative;
    overflow: hidden;
    padding-top: 150px;
    padding-bottom: 150px;
}

/*---------------------------------
------ START SECTION ABOUT --------
---------------------------------*/
.section-about .row {
    position: relative;
    bottom: 100px;
}

.section-about .img-profile{
    width: 100%;
}

.section-about .profile-title{
    font-size: 36px;
    line-height: 1.1;
    font-weight: 500;
    margin-bottom: 5px;
}

.profile-position {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.1;
    margin-bottom: 0;
}

.profile-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.profile-list .title {
    width: 100px;
    display: block;
    float: left;
    color: #333333;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    text-transform: uppercase;
}

.profile-list .cont {
    font-size: 15px;
    font-weight: 300;
    line-height: 20px;
    color: #9da0a7;
}

.profile-list li {
    margin-bottom: 13px;
}

.profile-social{
    background-color: var(--secondary-color);
}

.profile-social .social{
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.profile-social .social li {
    display: inline-block;
    margin: 5px 15px;
}

.profile-social .social li a {
    width: 45px;
    height: 45px;
    position: relative;
    display: inline-block;
    background-color: transparent;
    -webkit-transition: -webkit-transition, background-color 0.25s linear 0s;
    -moz-transition: -moz-transition, background-color 0.25s linear 0s;
    transition: transition, background-color 0.25s linear 0s;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.profile-social .social li a:hover {
    text-decoration: none;
    background-color: rgba(0, 0, 0, 0.1); 
}

.profile-social .social li a .rsicon {
    color: #fff;
    font-size: 20px;
    line-height: 45px;
    display: block;
}

.section-about .section-txt-btn {
    color: #000;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.8;
    text-align: center;
    margin-top: 30px;
    padding-left: 5%;
    padding-right: 5%;
}   
/*---------------------------------
------- END SECTION ABOUT ---------
---------------------------------*/

/*----------------------------------------------------
------- START SECTION EDUCATION & EXPERIENCE ---------
----------------------------------------------------*/
.section-padding {
    padding-top: 100px;
    padding-bottom: 100px;
}
  
.section-overlay {
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    width: 100%;
    height: 100%;
    opacity: 0.85;
}

.section-overlay + .container {
    position: relative;
}

.timeline-section-education{
    background-image: url('../img/colleagues-working-cozy-office-medium-shot.jpg');
}

.timeline-section {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.timeline-container .vertical-scrollable-timeline {
list-style-type: none;
position: relative;
padding-left: 0;
}

.timeline-container .vertical-scrollable-timeline .list-progress {
    width: 8px;
    height: 97%;
    background-color: var(--primary-color);
    position: absolute;
    left: 52px;
    top: 0;
    overflow: hidden;
}

.timeline-container .vertical-scrollable-timeline .list-progress .inner {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
    background-color: var(--secondary-color);
    width: 100%;
}

.timeline-container .vertical-scrollable-timeline li {
    position: relative;
    padding: 20px 0px 65px 145px;
}

.timeline-container .vertical-scrollable-timeline li:last-child {
    padding-bottom: 0;
}

.timeline-container .vertical-scrollable-timeline li p {
    margin-bottom: 0px;
}

.timeline-container .vertical-scrollable-timeline li p:last-child {
    margin-bottom: 0;
}

.timeline-container .vertical-scrollable-timeline li .icon-holder {
    position: absolute;
    left: 0;
    top: 0;
    width: 104px;
    height: 104px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    border-radius: 50%;
    z-index: 1;
    transition: 0.4s all;
}

.timeline-container .vertical-scrollable-timeline li .icon-holder::before {
    content: "";
    width: 80px;
    height: 80px;
    border: 4px solid #fff;
    position: absolute;
    background-color: var(--secondary-color);
    border-radius: 50%;
    z-index: -1;
    transition: 0.4s all;
}

.timeline-container .vertical-scrollable-timeline li .icon-holder i {
    font-size: 25px;
    color: var(--white-color);
}

.timeline-container .vertical-scrollable-timeline li::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 8px;
    background-color: transparent;
    left: 52px;
    z-index: 0;
}

.timeline-container .vertical-scrollable-timeline li.active .icon-holder {
    background-color: var(--primary-color);
}

.timeline-container .vertical-scrollable-timeline li.active .icon-holder::before {
    background-color: var(--primary-color);
}
/*----------------------------------------------------
------- END SECTION EDUCATION & EXPERIENCE ---------
----------------------------------------------------*/

/*---------------------------------
---- START SECTION PORTFOLIO ------
---------------------------------*/
.section-portfolio{
    background-color: var(--section-bg-color);

}

.parent {
    margin: 0px;
    padding:0;
    position:relative;
}

.child {
    position: absolute;
    background: rgba(0,0,0,0.5);
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    overflow:hidden;
    color:#fff;
    top:0;
    display: none;
    -webkit-transition: 2s;
    transition: 2s;
}
/*---------------------------------
---- END SECTION PORTFOLIO ------
---------------------------------*/

/*---------------------------------
---- START SECTION CONTACT ------
---------------------------------*/
.section-portfolio{
    background-color: var(--section-bg-color);

}

.parent {
    margin: 0px;
    padding:0;
    position:relative;
}

.child {
    position: absolute;
    background: rgba(0,0,0,0.5);
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    overflow:hidden;
    color:#fff;
    top:0;
    display: none;
    -webkit-transition: 2s;
    transition: 2s;
}
/*---------------------------------
---- END SECTION CONTACT ------
---------------------------------*/
.form-floating>textarea,input[type] {
    font-size: 16px;
    line-height: 16px;
    padding: 10px 0;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #d8d8d8;
    border-radius: 0;
}

.form-floating>label{
    padding: 2rem 0rem;
    margin: 0px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    line-height: 14px;
    transition: 0.15s ease all;
}

.form-floating>textarea:focus,input[type]:focus {
    border-color: var(--primary-color);
    box-shadow: none;
    outline: 0 none;
    color: black!important;
    padding: 0px 0px;
}

.form-floating>.form-control:not(:placeholder-shown){
    padding-left: 0;
    border-color: var(--primary-color)!important;
}

input[type]:focus+label,
.form-floating>input[type]:not(:placeholder-shown)~label{
    color: var(--primary-color)!important;
    padding: 15px 0px;
}
  
/*---------------------------------
---- START RESPONSIVE STYLES ------
---------------------------------*/
@media screen and (max-width: 991px) {
   
    .section-padding {
      padding-top: 50px;
      padding-bottom: 50px;
    }
    
    .timeline-section-education .timeline-container .vertical-scrollable-timeline .list-progress {
        height: 85%;
    }

    .timeline-container .vertical-scrollable-timeline .list-progress {
      height: 93%;
    }
  
    .timeline-container .vertical-scrollable-timeline li {
      padding-left: 135px;
    }  
}

@media (max-width: 767px){
    .profile-list .title {
        margin-bottom: 3px;
    }

    .profile-list .title, .profile-list .cont {
        width: 100%;
        float: none;
        line-height: 1.2;
    }

    .profile-social .social li {
        margin-left: 5px;
        margin-right: 5px;
    }
    
    .profile-social .social li {
        display: inline-block;
        margin: 5px 10px;
    }

    .profile-social .social li a {
        width: 35px;
        height: 35px;
    }
}
/*---------------------------------
---- END RESPONSIVE STYLES ------
---------------------------------*/